@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
/*メイン画面*/

body{
    text-align: center;
}

img {
 max-width: 100%;
 height: auto;
}
.main{
    display:inline-block;
    text-align: center;
    /* padding: 8px */
}
#time {
    font-size: 70px;
    font-family: sans-serif;
}
#timeText{
   background-color: white;
    margin-top:  10%;
}


/* HOME画面_時計 */
/* p {
        font-family: 'Sacramento', cursive;
} */